@use '/styles/constants/colors';
@use '/styles/mixins/flexbox';

.wrapper {
  @include flexbox.flexbox(center, center);
  padding: 120px 0;
  background-color: colors.$BLUE;

  main {
    font-size: 50px;
    color: colors.$WHITE;
    background-color: colors.$RED;
  }
}
